doctype html
html
	head
		title About | Sample Real-Time Analytics Page
		include ./includes/user_head.jade
	body
		.container
			header
				h1 About
			section
				p This is the about page. Take a look at the <a href="/" data-type="text-link">index</a> page.

				a.btn.btn-primary(href="/" data-type="button-link") CLICK ME TOO