doctype html
html
	head
		title Index | Sample Real-Time Analytics Page
		include ./includes/user_head.jade
	body
		.container
			header
				h1 Index
			section
				p This is the index page. Take a look at the <a href="/about">about</a> page.